#URL where the sensor should send data.
sender_url = "http://localhost:8080/endpoint"

# How a sevice can pull sensor data
puller_type = "http"

#What type the sensor should be
sensor_type= "temprature"